@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

* {
  margin: 0;
  padding: 0;
}
header, footer, section, nav {
  display: block;
}
html, body {
  height: 100%;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #717171;
  background: #717171;
}
a:link,
a:visited {
  text-decoration: none;
  color: #717171;
}

.wrapper {
  background: #ffffff;
}

.container {
  position: relative;
  left: 34%;
  width: 540px;
  margin-left: -270px;
}
.container-footer {
  padding-top: 12px;
}

header {
  padding: 40px 0;
}

.content {
  padding-bottom: 80px;
  overflow: hidden;
}

.column {
  float: left;
}
.column.one {
  width: 50%;
  margin-right: 48px;
}

form {
  width: 240px;
  padding-bottom: 40px;
}
form label { /* labels are hidden */
  position: absolute;
  left: -999em;
  width: 1em;
  overflow: hidden;
}
form legend {
  margin-bottom: 12px;
}
form section {
  margin-bottom: 12px;
}
.form-element {
  width: 100%;
  border: none;
  padding: 13px 12px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  font-size: 14px;
}
.form-field {
  background: #E3E3E3;
  color: #B7B7B7;
}
.form-button {
  background: #B61601;
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  color: #ffffff;
}

.list-help {
  margin-top: -6px; /* offset padding on first anchor */
  list-style: none;
}
.list-help-item a {
  display: block;
  padding: 6px 0;
}
.item-marker {
  color: #be0000;
}

footer {
  color: #ffffff;
  font-size: 11px;
  background: #717171;
}
.footer-text {
  line-height: 1.5;
  margin-bottom: 12px;
}
.footer-links a:link,
.footer-links a:visited {
  color: #ffffff;
  font-weight: bold;
}
.footer-links a:after {
  content: "\00a0\00a0\00a0|\00a0\00a0";
}
.footer-links a.last:after {
  content: "";
}